body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, html[theme="light"] {

  --bg-color: #FFF;
  --opposite-bg-color: #282c35;

  --text-color: #333;
  --brighter-text-color: #000;
  --opposite-text-color: #DDD;

  --link-color: #333;
  --visited-link-color: #afafaf;
  --hovered-link-color: #9b9b9b;
}

a {
  color: var(--link-color);
  transition: color linear .1s;
  text-decoration: none;
}

@media only screen and (max-width : 1024px)  {
  /* Switch 3 to 2-columns */
  .board-3 .feed {
    width: 50%;
  }
}

@media only screen and (max-width : 750px) {
  /* Single column everywhere */
  .board .feed {
      width: 100%;
  }
}
